<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Abyss - Nouvel Elément</title>

    <!--CSS-->
    <link rel="stylesheet" href="~/Content/css/mainstyles.css" />
</head>

<body>
    <h2>Nouvel Element</h2>

    @Html.ActionLink("Accueil", "Index", "Home", null, new { @class = "btn btn-default" })

</body>

</html>